
:root {
    --container-max-with-1366: 1024px;
    --container-max-with-1920: 1680px;
}

.container{
    position: relative;
    max-width: var(--container-max-with-1366);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.sideblock{
    width: 280px;
}
.maincontent{
    flex: 1;
    margin-left: 20px;
    width: 100%;
}
@media (min-width: 1720px) {
    .container{
        max-width: var(--container-max-with-1920);
    }
}
.brick{
    width: 100%;
    transition:0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    display: block;
    margin: auto;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 8.87px;
    -webkit-box-shadow: 0px 2px 12px 3px rgba(204,204,204,0.58);
    -moz-box-shadow: 0px 2px 12px 3px rgba(204,204,204,0.58);
    box-shadow: 0px 2px 12px 3px rgba(204,204,204,0.58);
}
.brick + .brick{
    margin-top: 20px;
}
.brick h1{
    transition: all .6s;
    text-align: center;
}
.brick:hover h1{
    letter-spacing: 2px;
}
.responsive-image{
    width: 100%;
    height: auto;
}
.side-menu{
    font-size: .8em;
}
.side-menu::before{
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: 1em auto;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: baeline;
    margin-right: .5em;
}
.github-side::before{
    background-image: url(../images/github.png);
}
.comp-side::before{
    background-image: url(../images/comp.png);
}
.author-meta{
    font-size: 1.4em;
    font-family: Impact, fantasy;
}
a{
    color: lightseagreen;
}
a:active{
    color: cornflowerblue;
}
